<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.number_field :inventory %>
  </div>

  <div class="field">
    <%= form.label :fulfillment_fee %>
    <%= form.text_field :fulfillment_fee %>
  </div>

  <div class="field">
    <%= form.label :unit_cost %>
    <%= form.text_field :unit_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
