<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @item.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @item.nickname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<p>
  <strong>Fulfillment fee:</strong>
  <%= @item.fulfillment_fee %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @item.unit_cost %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
